# HAProxy configuration for Nudgis HA-DB
global
  log /dev/log    local0 warning
  log /dev/log    local1 warning
  daemon
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  # Enable haproxy admin socket for supervision purpose (hatop)
  stats socket /run/haproxy/admin.sock mode 664 level admin
  stats timeout 30s
  # See RM#39942
  # Global maximum connections authorized (processed + pending) 
  maxconn 3000

defaults
  log global
  mode tcp
  option tcplog
  balance leastconn
  retries 2
  # Enable connection timeout
  # See RM#40075
  # Set timeout on established connections without data transfer
  # Warning: TCP KeepAlive maintain established connecions but does not transfer data
  #          Treatments taking more than <timeout> with no data transfer will be closed by HAProxy
  timeout client 24h
  timeout server 24h
  timeout connect 5s
  timeout check 15s
  # Enable TCP KeepAlive
  option clitcpka
  option srvtcpka
  # Client KeepAlive
  # total time = 10 min + 10 * 1 min = 20 min
  clitcpka-idle 600s
  clitcpka-intvl 60s
  clitcpka-cnt   10
  # Server KeepAlive
  srvtcpka-idle 600s
  srvtcpka-intvl 60s
  srvtcpka-cnt   10

# See RM#39952
# Enable status page for supervision purpose
frontend stats
  mode http
  bind 127.0.0.1:8404
  stats enable
  stats uri /stats
  stats refresh 10s

# Database HA load-balancing
listen pgsql-primary
  bind 127.0.0.1:54321
  # See RM#39942 and RM#41408
  # Maximum connections allowed, surplus will be put on hold
  # To estimate the maximum number of sessions per frontend:
  # ~40 * <instance-count> / <frontend-count>
  maxconn 2000

  # Database server availability test
  # Database server have to be primary to receive traffic
  # Use rephacheck binary for this check (listening on 8543)
  option tcp-check
  tcp-check connect port 8543
  tcp-check expect string 'primary'

  # Set failover and backend servers
  default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
  server {{ groups['postgres'][0] }} {{ hostvars[groups['postgres'][0]]['ansible_default_ipv4']['address'] }}:5432 maxconn 1000 check
  server {{ groups['postgres'][1] }} {{ hostvars[groups['postgres'][1]]['ansible_default_ipv4']['address'] }}:5432 maxconn 1000 check backup

