-r requirements.in
ansible-lint
flake8
git+git://github.com/atmaniak/molecule@e03437923b302fca1bd7b4f6030c6956ad00367a#egg=molecule[docker]
#molecule[docker]
pip-tools
pytest-testinfra
yamllint
openstacksdk
ovh
