{
  "mirismanager_url": "{{ netcapture_mm_url }}",
  "mirismanager_check_ssl": {% if netcapture_mm_ssl %}true{% else %}false{% endif %},
  "netcapture_conf_folder": "{{ netcapture_conf_folder }}",
  "netcapture_media_folder": "{{ netcapture_media_folder }}",
  "netcapture_pkg_folder": "{{ netcapture_pkg_folder }}"
}
