## MySecureShell Configuration File
# To get more informations on all possible options, please look at the doc:
# http://mysecureshell.readthedocs.org

#Default rules for everybody
<Default>
        GlobalDownload          50k
        GlobalUpload            0
        Download                5k
        Upload                  0
        StayAtHome              true
        VirtualChroot           true
        LimitConnection         100
        LimitConnectionByUser   2
        LimitConnectionByIP     10
        Home                    /home/ftp/storage/incoming/$USER
        CallbackUpload          "/home/ftp/on-upload{% if mediaimport_virus_scan_on_upload %} --scan-virus{% endif %} /home/ftp/storage/incoming/$USER$LAST_FILE_PATH"
        IdleTimeOut             5m
        ResolveIP               false
        HideNoAccess            true
        DefaultRights           0640 0750
        ShowLinksAsLinks        false
        LogFile                 /var/log/sftp-server.log
        LogLevel                6
        LogSyslog               true
</Default>
