<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>UbiCast cache server</title>
        <style>
            html { background: #222; color: #ddd; }
            body { margin: 0 auto; max-width: 500px; }
            a { color: #5cf; text-decoration: none; }
            a:hover { text-decoration: underline; }
        </style>
    </head>
    <body>
        <h1>UbiCast cache server</h1>
        <hr/>
        <p>Powered by UbiCast -- <a href="https://www.ubicast.eu">https://www.ubicast.eu</a></p>
    </body>
</html>
