# Munin server configuration 
# Deployed with ansible

# (Exactly one) directory to include all files from.
includedir /etc/munin/munin-conf.d

{% for host in groups['munin_node'] %}
[{{ host }}.{{ ubicast_customer_name }}]
    address {{hostvars[host]['ansible_facts']['default_ipv4']['address']}}
    use_node_name yes

{% endfor %}

