# Munin server configuration 
# Deployed with ansible

# (Exactly one) directory to include all files from.
includedir /etc/munin/munin-conf.d

{% if munin_nodes %}
{% for munin_node in munin_nodes %}
[{{ munin_node.name }}.{{ ubicast_customer_name }}]
    address {{ munin_node.ip }}
    use_node_name yes

{% endfor %}
{% elif groups['monitor_client'] is defined %}
{% for host in groups['monitor_client'] %}
[{{ host }}.{{ ubicast_customer_name }}]
    address {{hostvars[host]['ansible_facts']['default_ipv4']['address']}}
    use_node_name yes

{% endfor %}
{% endif %}
