{
    "SERVER_URL": "https://{{ bench_host }}",
    "API_KEY": "{{ bench_host_api_key }}",
    "OID": "{{ bench_oid }}",
    "PROXIES": {
        "http": "",
        "https": ""
    },
    "VERIFY_SSL": false,
    "EXTRA": {
        "IGNORED_ROUTES": []
    }
}
