[DEFAULT]

ignoreip = {{ fail2ban_ignoreip }}
bantime = {{ fail2ban_bantime }}
maxretry = {{ fail2ban_maxretry }}
destemail = {{ fail2ban_email_to }}
sender = {{ fail2ban_email_from }}
action = %({{ fail2ban_action }})s
