root@localhost {{ postfix_email_from }}
root@{{ postfix_mailname }} {{ postfix_email_from }}
root@{{ ansible_hostname }} {{ postfix_email_from }}
@{{ postfix_mailname }} {{ postfix_email_from }}
@{{ ansible_hostname }} {{ postfix_email_from }}
